{% extends "base.html" %}

{% block content %} 
    <h1 id="header">Rankings By Number of Games: {{champ}}</h1>

    <form method="POST" action="#">
        <label>Champion</label>
        <select id="champ" name="champ" class="form-control">
            {% for item in champs %}
            <option value={{item[0]}}>{{item[0]}}</option>
            {% endfor %}
        </select>
        <input class="btn btn-dark btn-block" type="submit" value="Filter">
    </form> 
    
    <table id="data" class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player Name</th>
                <th scope="col">Position</th>
                <th scope="col">Team</th>
                <th scope="col">League</th>
                <th scope="col"># of Games Played</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{data.index(item)+1}}</td>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

